<% include header %>
	<div class="container">
		<div class="left">
			<% if(block) {%>
			<div class="block" data-pageid="<%=pageid%>">
				<div class="block_top">
					<span>块显示</span>
					<% if(locals.user) {%>
						<% if(locals.user.uid == userid) {%>
							<a href="/block/<%=pageid%>/<%=block.uid%>/edit" class="editurl">编辑</a>
							<a href="/block/<%=pageid%>/<%=block.uid%>/delete" class="deleteurl">删除</a>
						<% } %>
					<% } %>
				</div>
				<div class="block_con">
					<div class="one_title">
						<span class="one_num"><%=block.catid %>.<%=block.uid%>:</span>
						<span class="one_name"><%=block.title%></span>
					</div>
					<% if(block.dec) { %>
					<div class="one_dec">
						<span><%=block.dec%></span>
						<div class="clear"></div>
					</div>
					<% } %>
					<div class="one_con">
						<%-block.content%>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<div class="right">
			
		</div>
	</div>
	<div class="imagebg">
	</div>
	<link rel="stylesheet" href="/stylesheets/default.min.css">
	<script type="text/javascript" src="/javascripts/lib/highlight.min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/lodash.min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/raphael-min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/sequence-diagram-min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/flowchart-latest.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/block.css">
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();

		// 图片预览
		var window_width,window_height,iwidth,iheight,itop,ileft;
		var owidth,oheight;
		var maxwidth;
		var minwidth;
		var thisimage;
		$("img").click(function(e){
			window_width = $(window).width();
			window_height = $(window).height();
			maxwidth = window_width*0.7;
			minwidth = window_width*0.5;
			iwidth = $(this).width();
			iheight = $(this).height();
			itop = e.target.y;
			ileft = e.target.x;
			owidth = e.target.naturalHeight;
			oheight = e.target.naturalWidth;
			var nowimageleft;
			var nowimagewidth;
			$(".imagebg").show();
			var timage = $(this).clone();
			thisimage = timage;
			timage.css({
				'position':'absolute',
				'z-index':1000,
				'top':itop+'px',
				'left':ileft+'px',
				'width':iwidth+'px'
			});
			$("body").append(timage);
			if(owidth<maxwidth) {
				if(owidth<minwidth) {
					nowimageleft = window_width/2-minwidth/2;
					nowimagewidth = minwidth;
				} else {
					nowimageleft = window_width/2-owidth/2;
					nowimagewidth = owidth;
				}
			} else {
				nowimageleft = window_width/2-maxwidth/2;
				nowimagewidth = maxwidth;
			}
			nowtop = $(window).scrollTop()+20;
			timage.animate({
				'width':nowimagewidth+'px',
				'left': nowimageleft+'px',
				'top':nowtop+'px',
				'margin-bottom':'20px'
			}, 'slow');
		});
		$(".imagebg").click(function(){
			$(this).fadeOut(200);
			thisimage.animate({
				'width':iwidth+'px',
				'top':itop+'px',
				'left':ileft+'px'
			}, 'slow',function(){
				$(this).remove();
			});
		});

		var flow = $(".block").find('.lang-flow');
        for (var i = 0; i < flow.length; i++) {
            $("<div id='flow_" + i + "' class='flowshow'></div>").insertAfter(flow.eq(i).parent('pre'));
            var flowhtml = flow.eq(i).text();
            console.log(flowhtml);
            flow.eq(i).parent('pre').remove();
            diagram = flowchart.parse(flowhtml);
            diagram.drawSVG('flow_' + i, {
                'line-width': 1,
                'line-length': 50,
                'text-margin': 10,
                'font-size': 14,
                'font-color': 'black',
                'line-color': 'black',
                'element-color': 'black',
                'fill': 'white',
                'yes-text': 'yes',
                'no-text': 'no',
                'arrow-end': 'block'
            });
        }

        var seq = $(".block").find('.lang-seq');
        for (var i = 0; i < seq.length; i++) {
            $("<div id='seq_" + i + "' class='seqshow'></div>").insertAfter(seq.eq(i).parent('pre'));
            var seqhtml = seq.eq(i).text();
            seq.eq(i).parent('pre').remove();
            diagram = Diagram.parse(seqhtml);
            diagram.drawSVG('seq_' + i, {
                'theme': 'simple',
                'line-width': 1
            });
        }
	</script>
<% include footer %>